.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    .line{
        display: flex;
        gap: 5px
    }

    .space{
        width: 350px;
        height: 64px;
        background-color: var(--code-bg-clr);
        border-radius: 16px;
    }
}