.container{
    position: relative;
    width: 64%;
    height: 200px;
}

.wordInput {
    z-index: 99;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: var(--code-bg-clr);
    padding: 15px;
    color: var(--inactive-clr);
    border: #2D6976 solid 4px;
    font-size: 16px;
}

.inputContainer{
    z-index: 100;
    padding: 19px;
    color: 'white';

    p{
        margin: 0;
        padding: 0;
        visibility: hidden;
        pointer-events: none;
    }
}