:root {
  --bg-clr: #128094;
  --code-bg-clr: #3C3A3F;
  --title-clr: #EBECFA;
  --task-text-clr: #BFBFBF;
  --input-clr: #E08131;
  --inactive-clr: #B5B4B4;
  --focus-clr: #87E5FA;
  --border-clr: #2D6976;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-clr);
}

a {
  cursor: pointer;
}

li {
  height: 50px;
  vertical-align: middle;
}

ul {
  padding: 20px;
  list-style: none;
  text-decoration: none;
}

button,
input[type="submit"],
input[type="reset"],
input[type="select"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea{
  outline: 0px;
  resize: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul{
  margin: 0;
}

input {
  width: 700px;
  height: 500px;
}
.title{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 100px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  text-decoration: underline;
  color: var(--title-clr)
}