:root {
  --main-color: #128094;
  --sidebar-color: #3C3A3F;
  --title-color: #EBECFA;
  --task-text-color: #BFBFBF;
  --input-color: #E08131;
  --inactive-color: #B5B4B4;
  --focus-color: #87E5FA;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-color);
}

a {
  cursor: pointer;
}

li:hover {
  background-color: rgba(219, 220, 226, 0.164);
}

li {
  height: 50px;
  vertical-align: middle;
}

ul {
  padding: 20px;
  list-style: none;
  text-decoration: none;
}

button,
input[type="submit"],
input[type="reset"],
input[type="select"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  width: 700px;
  height: 500px;
}
.title{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 100px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  text-decoration: underline;
  color: var(--title-color)
}