#sidebar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 100%;
  background-color: var(--sidebar-background);
}

#sidebar ul {
  list-style: none;
  text-decoration: none;
}

#ide {
  position: absolute;
  left: 50px;
  top: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px black;
  font-size: large;
  background-color: var(--code-background);
  color: var(--code-color-main);
}

.list {
  position: absolute;
  top: 70px;
  left: 0;
}
